.prototype_pictures{
    transform: rotate(270deg);
    width:500px; /* you can use % */
    height: auto;
    padding-left:120px;
}
table, th, td {
    border:1px solid black;
  }

.zipcode{
    fill: #88A4BC; 
    opacity:.6;
     stroke:#ffffff;
    stroke-opacity:1;
     stroke-width:1;
}


