.prototype_pictures{
    transform: rotate(270deg);
    width:500px; /* you can use % */
    height: auto;
    padding-left:120px;
}
table, th, td {
    border:1px solid black;
  }

  svg{
    fill:#ececec; 
    stroke: black ;
    stroke-linecap:round;
    stroke-linejoin:round; 
    stroke-width:.1; 
     
  }