  {% include 'navbar.html' %}
	<h1>Data Journalism - About</h1>

  

    <h3>All Parks in NYC</h3>
    <p>New York City is known to have diverse communities, countless opportunities, and more importantly to this investigation, parks. I wanted to investigate how many parks there were in NYC because no matter where I went, there always seemed to be a park, whether it be big or small, lively or quiet.</p> 
    <p>It made me think "How common is it to stumble upon a park when you're simply walking?", and then made me begin this investigation.</p>
    <h3>Cleansing Data</h3>
    <p>Looking at the data in the CSV file, there was a lot of information that was not very useful to me, such as their jurisdiction area or if they are near a body of water. </p>
    <p>Given this, I cut all the data down to only it's most important sections:</p>
    <ul>
        <li>Park Name</li>
        <li>Size (in acres)</li>
        <li>Location</li>
        <li>Borough</li>
        <li>Type of Park</li>
        <li>Zip Code</li>
        <li>Website Link to NYC Park website about each park</li>
    </ul>
    <p>Now that I had the most important data points for my journalism project, I used a python script to convert the CSV file into a JSON file containing nested dictionaries of all the park data, which makes the data a lot more understandable and easier to work with.</p>
    <a href="../Data_Journalism/data/format_data.py">Here is the python script</a>
    <br>
    <br>
    <a href="../Data_Journalism/data/Parks_Data.json">Here is the JSON file containing all the data, but easier to understand</a>
    <br>
    <br>
    <img src="pictures/macro_prototype.jpg" alt="macro_prototype" class="prototype_pictures" width="400px">
    <p>Above is the picture of the prototype for the main page for my website. </p>
    <p>By organizing the data into a more visually digestible format (SVG), it is a lot easier to understand and navigate throughout the website, instead of having to search through the navbar.</p>
    <br>
    <br>
    <br>
    <img src="pictures/micro_prototype.jpg" alt="micro_prototype" class="prototype_pictures" width="400px">
    <p>Above is the picture of the prototype for a sub-page for my website</p>
    <p>Once you click on part of the SVG, a new page will be created containing each individual park found in each zip code and a smaller svg of the zip code itself. This allows for an easier time to understand how many parks can fit into one zipcode.</p>
    <br>
   
   
    <table>
    <td>I really like your macro page and i think its really clear the only thing i would recommend is changing the color scheme to green because thats more of a park-like color. for your micro page I would maybe add were the parks are in each zip code if you can (either shade in where the parks are or put dots to show where they are) because I think it would help show the number of parks better. </td>
   
    <tr>
    <td>I really like the map and key on the macro page, I would however urge you to include some written quantitative analysis on both the micro and macro pages. I am also unsure of what the image is on the Micro page. Is it a map of that borough or zip code?</td>
    </tr>

    <tr>
    <td>I like how you included the zip code and the borough for the area being looked into. The zip code makes the data more specific, clear and understandable. I think it would be beneficial to the navigation of your prototype if you organized the parks within a zip code in a certain way. Whether it be alphabetical, by size, or even allowing the user to choose, it would make the navigation of the website much easier. I would also show where the parks are within the zip code. That would make the data a lot more clear, and the geography would be easier to understand.</td>
    </tr>
  
    </table>
    <br>
    <p>With the feedback I was given, I realized something else I could do to make the data more understandable, which was adding dots to areas across the svg show each park. However, that would require advanced techniques and a lot of time-consuming labor, so for now it is not fully possible.</p>
    <br>
    {%include 'footer.html' %}
  </body>
  </html>
