 
    {% include 'navbar.html' %}
   

    {% include 'SVG_ZIPCODES/10001.svg' %}
  <p>Welcome to {{Individual_Park_Spaces}}!</p>
  <p>Here's some information about this park:</p>
  <p>{{Individual_Park_Spaces}} is {{Park_Acres}} acres</p>
  <p>{{Individual_Park_Spaces}} is located in {{Park_Borough}}, near {{Park_Location}}, and in zipcode {{Park_Zipcode}}</p>
  <p>{{Individual_Park_Spaces}} is a {{Park_Type}}</p>
  <p>Click <a href="{{Park_URL}}">here</a> to find out more about the Park!</p>
  <p></p>
    {% include 'footer.html' %}
  </body>
  </html>
  <!-- all that's left is to maybe dynamically generate text and add an svg of zip code, which I need to do for sub-macro page anyways -->
 